<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.ppteam.ahp.myride" >

    <application
        android:name=".MyRideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultScreenActivity"
            android:label="@string/title_activity_search_result_screen" >
        </activity>
        <activity
            android:name=".ChooseCriteriaScreenActivity"
            android:label="@string/title_activity_choose_criteria_screen" >
        </activity>
        <activity
            android:name=".CompareCriteriaScreenActivity"
            android:label="@string/title_activity_compare_criteria_screen" >
        </activity>
        <activity
            android:name=".CompareRideScreenActivity"
            android:label="@string/title_activity_compare_ride_screen" >
        </activity>
        <activity
            android:name=".ResultRankingScreenActivity"
            android:label="@string/title_activity_result_ranking_screen" >
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyRide.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

    </application>

</manifest>
